services:
  frontend:
    image: ghcr.io/exequielbarco/portfolio-front.nextjs:latest
    container_name: portfolio-front.nextjs
    env_file: 
    - .env
    ports:
      - "3000:3000"
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    driver: bridge

volumes:
  letsencrypt:
